<h1>Listing Food Items</h1>

<ul>
  <% @food_items.each do |food_item| %>
  <li>
    <h2>
      <% link_to(food_item) do %>
        <%= food_item.name %>
      <% end %>
    </h2>
    <p><img src="<%=h food_item.image_url %>" alt="<%=h food_item.name %>" /> <%=h food_item.description %></p>
    <%= link_to 'Edit', edit_food_item_path(food_item) %>
    <%= link_to 'Destroy', food_item, :confirm => 'Are you sure?', :method => :delete %>
  </li>
  <% end %>
</ul>

<hr />

<%= link_to 'Add more food', new_food_item_path %>
